<li><br><br><a href="sign_up.html"></a></li><html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meiyu-Club-Top</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="/assets/comments.css?body=1" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="/assets/posts.css?body=1" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/comments.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/posts.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
</head>
<body>

  <!-- ここからヘッダーのエリア -->

  <!-- ここまでヘッダーのエリア -->

  <!-- ここからトップ画像のエリア -->
  <div class="jumbotron">
    <div class="container">
     <nobr> <h1 class="alpaka">★盟友クラブ<br><br>何か、やりたいことがあるのに<br>自分 "一人" じゃできない!<br>仲間が欲しい！あなたはそんな悩みを抱えてませんか！？<br><br>
      盟友クラブは<br>そんなあなたに信頼できるチームを提供します！</h1></nobr>
    </div>
  </div>
  <!-- ここまでトップ画像のエリア -->

  <div id="content" class="container">
    <div class="top_post">
      <div id="main" class="col-sm-12">
      </div>
    </div>
  </div>

  <!-- ここからフッターのエリア -->
  <footer id="footer">
    <div class="container">
      <p class="text-right"><small>&copy; 2014</small></p>
    </div>
  </footer>
  <!-- ここまでフッターのエリア -->

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>


